[Unit]
Description=AA Coop Tracker

[Service]
InaccessibleDirectories=/root /sys /srv -/opt /media -/lost+found
ReadWriteDirectories=/var/minecraft/Tracker1.16
WorkingDirectory=/var/minecraft/Tracker1.16
ExecStart=/usr/bin/sudo /usr/bin/node /var/minecraft/Tracker1.16/server/parser.js -p YOUR_PASSWORD_HERE
[Install]
WantedBy=multi-user.target