<html>
   <head>
      <title>AA Coop Tracker</title>
      <h1 id="igt">IGT:</h1>
      <h2 id="timer">Last Updated:</h2>
      <button onclick=location.reload()>Refresh Advancements</button>
      <p id="label">Admin Password:</p>
      <input autocomplete="false" type="text" id="password" name="password">
      <button id="submit" onclick=passCheck()>Submit</button>
      <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/minecraftia" type="text/css"/>
      <meta charset="utf-8">
      <style>
         h1 {
            font-family: 'MinecraftiaRegular';
            font-size: normal;
            font-weight: normal;
            font-style: normal;
         }
         h2 {
            font-family: 'MinecraftiaRegular';
            font-size: normal;
            font-weight: normal;
            font-style: normal;
            color: grey;
         }
         td {
            font-family: 'MinecraftiaRegular';
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            border-radius: 10px;
            padding-left: 10px;
         }
         img {
            padding-right: 5px;
            padding-top: 5px;
            width: 20px;
         }
         button {
            font-family: 'MinecraftiaRegular';
            font-size: small;
            font-weight: normal;
            font-style: normal;
            border-radius: 5px;
            border: none;
            color: black;
         }
         html {
            background-color: rgb(212, 212, 212);
         }
         p {
            font-family: 'MinecraftiaRegular'
         }
         input {
            background-color: rgb(212, 212, 212)
         }
      </style>
   </head>
   <body>
      <script src="https://cdn.socket.io/4.1.1/socket.io.min.js"></script>
      <script>
         var info;
         var hunted = 0;
         var time = [0, 0, 0, ""];
         var moblist = [
         "minecraft:blaze",
         "minecraft:cave_spider",
         "minecraft:creeper",
         "minecraft:drowned",
         "minecraft:elder_guardian",
         "minecraft:ender_dragon",
         "minecraft:enderman",
         "minecraft:endermite",
         "minecraft:evoker",
         "minecraft:ghast",
         "minecraft:guardian",
         "minecraft:hoglin",
         "minecraft:husk",
         "minecraft:magma_cube",
         "minecraft:phantom",
         "minecraft:piglin",
         "minecraft:piglin_brute",
         "minecraft:pillager",
         "minecraft:ravager",
         "minecraft:shulker",
         "minecraft:silverfish",
         "minecraft:skeleton",
         "minecraft:slime",
         "minecraft:spider",
         "minecraft:stray",
         "minecraft:vex",
         "minecraft:vindicator",
         "minecraft:witch",
         "minecraft:wither",
         "minecraft:wither_skeleton",
         "minecraft:zoglin",
         "minecraft:zombie_villager",
         "minecraft:zombie",
         "minecraft:zombified_piglin"
         ];
         var biomes = 0;
         var biomelist = [
         "minecraft:badlands",
         "minecraft:badlands_plateau",
         "minecraft:bamboo_jungle",
         "minecraft:bamboo_jungle_hills",
         "minecraft:beach",
         "minecraft:birch_forest",
         "minecraft:birch_forest_hills",
         "minecraft:cold_ocean",
         "minecraft:dark_forest",
         "minecraft:deep_cold_ocean",
         "minecraft:deep_frozen_ocean",
         "minecraft:deep_lukewarm_ocean",
         "minecraft:desert",
         "minecraft:desert_hills",
         "minecraft:forest",
         "minecraft:frozen_river",
         "minecraft:giant_tree_taiga",
         "minecraft:giant_tree_taiga_hills",
         "minecraft:jungle",
         "minecraft:jungle_edge",
         "minecraft:jungle_hills",
         "minecraft:lukewarm_ocean",
         "minecraft:mountains",
         "minecraft:mushroom_field_shore",
         "minecraft:mushroom_fields",
         "minecraft:plains",
         "minecraft:river",
         "minecraft:savanna",
         "minecraft:savanna_plateau",
         "minecraft:snowy_beach",
         "minecraft:snowy_mountains",
         "minecraft:snowy_taiga",
         "minecraft:snowy_taiga_hills",
         "minecraft:snowy_tundra",
         "minecraft:stone_shore",
         "minecraft:swamp",
         "minecraft:taiga",
         "minecraft:taiga_hills",
         "minecraft:warm_ocean",
         "minecraft:wooded_badlands_plateau",
         "minecraft:wooded_hills",
         "minecraft:wooded_mountains"
         ];
         var breeded = 0;
         var animallist = [
         "minecraft:axolotl",
         "minecraft:bee",
         "minecraft:cat",
         "minecraft:cow",
         "minecraft:chicken",
         "minecraft:donkey",
         "minecraft:fox",
         "minecraft:goat",
         "minecraft:hoglinbred",
         "minecraft:horse",
         "minecraft:llama",
         "minecraft:mooshroom",
         "minecraft:mule",
         "minecraft:ocelot",
         "minecraft:panda",
         "minecraft:pig",
         "minecraft:rabbit",
         "minecraft:sheep",
         "minecraft:strider",
         "minecraft:turtle",
         "minecraft:wolf",
         ];
         var tamed = 0;
         var catlist = [
         "textures/entity/cat/all_black.png",
         "textures/entity/cat/british_shorthair.png",
         "textures/entity/cat/calico.png",
         "textures/entity/cat/jellie.png",
         "textures/entity/cat/persian.png",
         "textures/entity/cat/ragdoll.png",
         "textures/entity/cat/red.png",
         "textures/entity/cat/siamese.png",
         "textures/entity/cat/tabby.png",
         "textures/entity/cat/black.png",
         "textures/entity/cat/white.png",
         ];
         var eaten = 0;
         var foodlist = [
         "apple",
         "baked_potato",
         "beetroot",
         "beetroot_soup",
         "bread",
         "carrot",
         "chorus_fruit",
         "cooked_chicken",
         "cooked_cod",
         "cooked_mutton",
         "cooked_porkchop",
         "cooked_rabbit",
         "cooked_salmon",
         "cookie",
         "dried_kelp",
         "enchanted_golden_apple",
         "glow_berries",
         "golden_apple",
         "golden_carrot",
         "honey_bottle",
         "melon_slice",
         "mushroom_stew",
         "poisonous_potato",
         "potato",
         "pufferfish",
         "pumpkin_pie",
         "rabbit_stew",
         "beef",
         "chicken",
         "cod",
         "mutton",
         "porkchop",
         "rabbit",
         "salmon",
         "rotten_flesh",
         "spider_eye",
         "cooked_beef",
         "suspicious_stew",
         "sweet_berries",
         "tropical_fish",
         ];
         var socket = io.connect(window.origin);
         
         socket.on("data", (data) => {
            info = data;
            update();
         });
         
         socket.on("time", (time) => {
            document.getElementById("timer").innerHTML = "Last Updated: " + time.substring(11,22)+" UTC";
         });

         socket.on("igt", (data) => {
            if (data[0] >= time[0] && data[1] >= time[1] && data[2] >= time[2]) {
               document.getElementById("igt").innerHTML = "IGT: " + data[3]
               time = data;
            }
         });

         socket.on("authorize", () => {
            window.location.href = "http://" + document.domain + "/admin"
         });

         function passCheck(password) {
            var pass = document.getElementById("password").value;
            socket.emit("password", (pass))
         }
         
         function strip(adv) {
            let element = document.getElementById(adv);
            if (element.style.backgroundColor != "") {
               element.style.backgroundColor = ""; //find the criteria and make it gray
            }
         }
         
         function update() {
            let result;
            if (info[1] == true) {
               document.getElementById(info[0]).style.backgroundColor = "#00cc00"; //find the criteria and make it green
            }
            if (info[0] == "minecraft:adventure/kill_all_mobs" && info[2] > hunted) { //This person has completed the most criteria
               for (i = 0; i < moblist.length; i++) {
                  strip(moblist[i]);
               }
               for (i = 0; i < info[2]; i++) { //Go through the persons criteria
                  let subcrit = info[3][i];
                  document.getElementById(subcrit).style.backgroundColor = "#00cc00"; //find the criteria and make it green
               }
               document.getElementById("hunter").innerHTML = " "+info[4].fontcolor("grey");
               hunted = info[2];
            }
            if (info[0] == "minecraft:adventure/adventuring_time" && info[2] > biomes) { //This person has completed the most criteria
               for (i = 0; i < biomelist.length; i++) {
                  strip(biomelist[i]);
               }
               for (i = 0; i < info[2]; i++) { //Go through the persons criteria
                  let subcrit = info[3][i];
                  document.getElementById(subcrit).style.backgroundColor = "#00cc00"; //find the criteria and make it green
               }
               document.getElementById("explorer").innerHTML = " "+info[4].fontcolor("grey");
               biomes = info[2];
            }
            if (info[0] == "minecraft:husbandry/bred_all_animals" && info[2] > breeded) { //This person has completed the most criteria
               for (i = 0; i < animallist.length; i++) {
                  strip(animallist[i]);
               }
               for (i = 0; i < info[2]; i++) { //Go through the persons criteria
                  let subcrit = info[3][i];
                  if (subcrit == "minecraft:hoglin")
                     subcrit = "minecraft:hoglinbred";
                  document.getElementById(subcrit).style.backgroundColor = "#00cc00"; //find the criteria and make it green
               }
               document.getElementById("breeder").innerHTML = " "+info[4].fontcolor("grey");
               breeded = info[2];
            }
            if (info[0] == "minecraft:husbandry/complete_catalogue" && info[2] > tamed) { //This person has completed the most criteria
               for (i = 0; i < catlist.length; i++) {
                  strip(catlist[i]);
               }
               for (i = 0; i < info[2]; i++) { //Go through the persons criteria
                  let subcrit = info[3][i];
                  document.getElementById(subcrit).style.backgroundColor = "#00cc00"; //find the criteria and make it green
               }
               document.getElementById("tamer").innerHTML = " "+info[4].fontcolor("grey");
               tamed = info[2];

            }
            if (info[0] == "minecraft:husbandry/balanced_diet" && info[2] > eaten) { //This person has completed the most criteria
               for (i = 0; i < foodlist.length; i++) {
                  strip(foodlist[i]);
               }
               for (i = 0; i < info[2]; i++) { //Go through the persons criteria
                  let subcrit = info[3][i];
                  document.getElementById(subcrit).style.backgroundColor = "#00cc00"; //find the criteria and make it green
               }
               document.getElementById("eater").innerHTML = " "+info[4].fontcolor("grey");
               eaten = info[2];
            }
         }
      </script>
      <table style="padding-top: 8px;">
         <tr style="font-size: 18px;">
            <td><strong>Minecraft</strong></td>
            <td><strong>Nether</strong></td>
            <td><strong>The End</strong></td>
            <td><strong>Adventure</strong></td>
            <td><strong>Husbandry</strong></td>
            <td><strong>Monsters Hunted</strong><strong id="hunter"></strong></td>
            <td><strong>Adventuring Time</strong><strong id="explorer"></strong></td>
            <td><strong>Two by Two</strong><strong id="breeder"></strong>
            <td><strong>A Complete Catalogue</strong><strong id="tamer"></strong></td>
            <td><strong>A Balanced Diet</strong><strong id="eater"></strong></td>
         </tr>
         <tr>
            <td id="minecraft:story/mine_stone"><img src="https://tinyurl.com/v8pbhabk">Stone Age</td>
            <td id="minecraft:nether/return_to_sender"><img src="https://tinyurl.com/x56z37n5">Return to Sender</td>
            <td id="minecraft:end/kill_dragon"><img src="https://tinyurl.com/jndnnswa">Free The End</td>
            <td id="minecraft:adventure/voluntary_exile"><img src="https://tinyurl.com/2zkd3sha">Voluntary Exile</td>
            <td id="minecraft:husbandry/safely_harvest_honey"><img src="https://tinyurl.com/4ea8c52p">Bee Our Guest</td>
            <td id="minecraft:blaze"><img src="https://tinyurl.com/4vmvm2d2">Blaze</td>
            <td id="minecraft:badlands"><img src="https://tinyurl.com/3xntww84">Badlands</td>
            <td id="minecraft:axolotl"><img src="https://tinyurl.com/ycbujzea">Axolotl</td>
            <td id="textures/entity/cat/all_black.png"><img src="https://tinyurl.com/ffmryazp">All Black</td>
            <td id="apple"><img src="https://tinyurl.com/7hamebzu">Apple</td>
         </tr>
         <tr>
            <td id="minecraft:story/upgrade_tools"><img src="https://tinyurl.com/37tmaxxn">Getting an Upgrade</td>
            <td id="minecraft:nether/find_bastion"><img src="https://tinyurl.com/nkwdf62a">Those Were The Days</td>
            <td id="minecraft:end/dragon_egg"><img src="https://tinyurl.com/2jppvssx">The Next Generation</td>
            <td id="minecraft:adventure/spyglass_at_parrot"><img src="https://tinyurl.com/3522nn8d">Is it a Bird?</td>
            <td id="minecraft:husbandry/breed_an_animal"><img src="https://tinyurl.com/nmjs8rxt">The Parrots And The Bats</td>
            <td id="minecraft:cave_spider"><img src="https://tinyurl.com/w99cc3wm">Cave Spider</td>
            <td id="minecraft:badlands_plateau"><img src="https://tinyurl.com/b33uscbs">Badlands Plateau</td>
            <td id="minecraft:bee"><img src="https://tinyurl.com/9ty275s2">Bee</td>
            <td id="textures/entity/cat/british_shorthair.png"><img src="https://tinyurl.com/s83w64ue">British Shorthair</td>
            <td id="baked_potato"><img src="https://tinyurl.com/4th3vr5z">Baked Potato</td>
         </tr>
         <tr>
            <td id="minecraft:story/smelt_iron"><img src="https://tinyurl.com/484tjemy">Acquire Hardware</td>
            <td id="minecraft:nether/obtain_ancient_debris"><img src="https://tinyurl.com/4x9tkv8a">Hidden In The Depths</td>
            <td id="minecraft:end/enter_end_gateway"><img src="https://tinyurl.com/n79bepdr">Remote Getaway</td>
            <td id="minecraft:adventure/kill_a_mob"><img src="https://tinyurl.com/3cwm36p4">Monster Hunter</td>
            <td id="minecraft:husbandry/ride_a_boat_with_a_goat"><img src="https://tinyurl.com/3k26mkhc">Whatever Floats Your Goat!</td>
            <td id="minecraft:creeper"><img src="https://tinyurl.com/9jy28jy8">Creeper</td>
            <td id="minecraft:bamboo_jungle"><img src="https://tinyurl.com/8va7u98s">Bamboo Jungle</td>
            <td id="minecraft:cat"><img src="https://tinyurl.com/uz7nunus">Cat</td>
            <td id="textures/entity/cat/calico.png"><img src="https://tinyurl.com/2hyvuhm8">Calico</td>
            <td id="beetroot"><img src="https://tinyurl.com/umcwfaza">Beetroot</td>
         </tr>
         <tr>
            <td id="minecraft:story/obtain_armor"><img src="https://tinyurl.com/4e9x72rz">Suit Up</td>
            <td id="minecraft:nether/fast_travel"><img src="https://tinyurl.com/jmw47ctr">Subspace Bubble</td>
            <td id="minecraft:end/respawn_dragon"><img src="https://tinyurl.com/ef7duyrm">The End... Again...</td>
            <td id="minecraft:adventure/trade"><img src="https://tinyurl.com/22wbbaeb">What a Deal!</td>
            <td id="minecraft:husbandry/tame_an_animal"><img src="https://tinyurl.com/ettts9ew">Best Friends Forever</td>
            <td id="minecraft:drowned"><img src="https://tinyurl.com/kmth5m5f">Drowned</td>
            <td id="minecraft:bamboo_jungle_hills"><img src="https://tinyurl.com/e96emw">Bamboo Jungle Hills</td>
            <td id="minecraft:chicken"><img src="https://tinyurl.com/ttspzzta">Chicken</td>
            <td id="textures/entity/cat/jellie.png"><img src="https://tinyurl.com/vv37sy6p">Jellie</td>
            <td id="beetroot_soup"><img src="https://tinyurl.com/ytbrmx3n">Beetroot Soup</td>
         </tr>
         <tr>
            <td id="minecraft:story/lava_bucket"><img src="https://tinyurl.com/4m4sjpfc">Hot Stuff</td>
            <td id="minecraft:nether/find_fortress"><img src="https://tinyurl.com/34y5wevk">A Terrible Fortress</td>
            <td id="minecraft:end/dragon_breath"><img src="https://tinyurl.com/yfw8y57t">You Need A Mint</td>
            <td id="minecraft:adventure/honey_block_slide"><img src="https://tinyurl.com/z2a6ysvd">Sticky Situation</td>
            <td id="minecraft:husbandry/make_a_sign_glow"><img src="https://tinyurl.com/y7hew6w6">Glow and Behold!</td>
            <td id="minecraft:elder_guardian"><img src="https://tinyurl.com/b34k53md">Elder Guardian</td>
            <td id="minecraft:beach"><img src="https://tinyurl.com/4kt5nsfm">Beach</td>
            <td id="minecraft:cow"><img src="https://tinyurl.com/9smj46de">Cow</td>
            <td id="textures/entity/cat/persian.png"><img src="https://tinyurl.com/56rap34p">Persian</td>
            <td id="bread"><img src="https://tinyurl.com/ykruf32a">Bread</td>
         </tr>
         <tr>
            <td id="minecraft:story/iron_tools"><img src="https://tinyurl.com/3pjfdxv6">Isn't it Iron Pick</td>
            <td id="minecraft:nether/obtain_crying_obsidian"><img src="https://tinyurl.com/56vbrpbw">Who is Cutting Onions?</td>
            <td id="minecraft:end/find_end_city"><img src="https://tinyurl.com/549nynfe">The City At The End Of The Game</td>
            <td id="minecraft:adventure/ol_betsy"><img src="https://tinyurl.com/h595jjm7">Ol' Betsy</td>
            <td id="minecraft:husbandry/fishy_business"><img src="https://tinyurl.com/ytc6rtue">Fishy Business</td>
            <td id="minecraft:ender_dragon"><img src="https://tinyurl.com/2j3nyn45">Ender Dragon</td>
            <td id="minecraft:birch_forest"><img src="https://tinyurl.com/wn6tjyyr">Birch Forest</td>
            <td id="minecraft:donkey"><img src="https://tinyurl.com/apffvd4w">Donkey</td>
            <td id="textures/entity/cat/ragdoll.png"><img src="https://tinyurl.com/nmmsnxrw">Ragdoll</td>
            <td id="carrot"><img src="https://tinyurl.com/35zvyznf">Carrot</td>
         </tr>
         <tr>
            <td id="minecraft:story/deflect_arrow"><img src="https://tinyurl.com/bvha866t">Not Today, Thank You</td>
            <td id="minecraft:nether/distract_piglin"><img src="https://tinyurl.com/ufjz28v9">Oh Shiny</td>
            <td id="minecraft:end/elytra"><img src="https://tinyurl.com/35nn7d8e">Sky's The Limit</td>
            <td id="minecraft:adventure/lightning_rod_with_villager_no_fire"><img src="https://tinyurl.com/4kwr9eta">Surge Protector</td>
            <td id="minecraft:husbandry/silk_touch_nest"><img src="https://tinyurl.com/scv64ebc">Total Beelocation</td>
            <td id="minecraft:enderman"><img src="https://tinyurl.com/az36nchk">Enderman</td>
            <td id="minecraft:birch_forest_hills"><img src="https://tinyurl.com/254wzsdh">Birch Forest Hills</td>
            <td id="minecraft:fox"><img src="https://tinyurl.com/46h7tv5z">Fox</td>
            <td id="textures/entity/cat/red.png"><img src="https://tinyurl.com/y2p99u7p">Red</td>
            <td id="chorus_fruit"><img src="https://tinyurl.com/h4edzdys">Chorus Fruit</td>
         </tr>
         <tr>
            <td id="minecraft:story/form_obsidian"><img src="https://tinyurl.com/sufr2nw3">Ice Bucket Challenge</td>
            <td id="minecraft:nether/ride_strider"><img src="https://tinyurl.com/96b86cb2">This Boat Has Legs</td>
            <td id="minecraft:end/levitate"><img src="https://tinyurl.com/549nynfe">Great View From Up Here</td>
            <td id="minecraft:adventure/walk_on_powder_snow_with_leather_boots"><img src="https://tinyurl.com/4yeea4m4">Light as a Rabbit</td>
            <td id="minecraft:husbandry/plant_seed"><img src="https://tinyurl.com/2jmnrm2u">A Seedy Place</td>
            <td id="minecraft:endermite"><img src="https://tinyurl.com/3euhu9am">Endermite</td>
            <td id="minecraft:cold_ocean"><img src="https://tinyurl.com/69pfwmmu">Cold Ocean</td>
            <td id="minecraft:goat"><img src="https://tinyurl.com/4yeea4m4">Goat</td>
            <td id="textures/entity/cat/siamese.png"><img src="https://tinyurl.com/syjrbrrf">Siamese</td>
            <td id="cooked_chicken"><img src="https://tinyurl.com/8ajwmxwf">Cooked Chicken</td>
         </tr>
         <tr>
            <td id="minecraft:story/mine_diamond"><img src="https://tinyurl.com/443248fn">Diamonds!</td>
            <td id="minecraft:nether/uneasy_alliance"><img src="https://tinyurl.com/sk8jvev4">Uneasy Alliance</td>
            <td></td>
            <td id="minecraft:adventure/sleep_in_bed"><img src="https://tinyurl.com/5x9fh3hf">Sweet Dreams</td>
            <td id="minecraft:husbandry/wax_on"><img src="https://tinyurl.com/yeb7s2fx">Wax On</td>
            <td id="minecraft:evoker"><img src="https://tinyurl.com/36sdn6sr">Evoker</td>
            <td id="minecraft:dark_forest"><img src="https://tinyurl.com/njn6hxd7">Dark Forest</td>
            <td id="minecraft:hoglinbred"><img src="https://tinyurl.com/4h5cduev">Hoglin</td>
            <td id="textures/entity/cat/tabby.png"><img src="https://tinyurl.com/eu2s3dww">Tabby</td>
            <td id="cooked_cod"><img src="https://tinyurl.com/3reffbtw">Cooked Cod</td>
         </tr>
         <tr>
            <td id="minecraft:story/enter_the_nether"><img src="https://tinyurl.com/458h26k4">We Need To Go Deeper</td>
            <td id="minecraft:nether/loot_bastion"><img src="https://tinyurl.com/b2hyr2du">War Pigs</td>
            <td></td>
            <td id="minecraft:adventure/hero_of_the_village"><img src="https://tinyurl.com/2zkd3sha">Hero Of The Village</td>
            <td id="minecraft:husbandry/bred_all_animals"><img src="https://tinyurl.com/fx4kv5c">Two By Two</td>
            <td id="minecraft:ghast"><img src="https://tinyurl.com/nutwy7ne">Ghast</td>
            <td id="minecraft:deep_cold_ocean"><img src="https://tinyurl.com/78aefwwx">Deep Cold Ocean</td>
            <td id="minecraft:horse"><img src="https://tinyurl.com/mb4b5yju">Horse</td>
            <td id="textures/entity/cat/black.png"><img src="https://tinyurl.com/s9yrumc7">Tuxedo</td>
            <td id="cooked_mutton"><img src="https://tinyurl.com/zs3c898j">Cooked Mutton</td>
         </tr>
         <tr>
            <td id="minecraft:story/shiny_gear"><img src="https://tinyurl.com/mujhtf82">Cover Me with Diamonds</td>
            <td id="minecraft:nether/use_lodestone"><img src="https://tinyurl.com/y9vmwd5a">Country Lode, Take Me Home</td>
            <td></td>
            <td id="minecraft:adventure/spyglass_at_ghast"><img src="https://tinyurl.com/3522nn8d">Is It a Balloon?</td>
            <td id="minecraft:husbandry/complete_catalogue"><img src="https://tinyurl.com/adee8rza">A Complete Catalogue</td>
            <td id="minecraft:guardian"><img src="https://tinyurl.com/4fr2c5u4">Guardian</td>
            <td id="minecraft:deep_frozen_ocean"><img src="https://tinyurl.com/fpdanxse">Deep Frozen Ocean</td>
            <td id="minecraft:llama"><img src="https://tinyurl.com/czzzj2w5">Llama</td>
            <td id="textures/entity/cat/white.png"><img src="https://tinyurl.com/3z3eh68b">White</td>
            <td id="cooked_porkchop"><img src="https://tinyurl.com/pzzx7f94">Cooked Porkchop</td>
         </tr>
         <tr>
            <td id="minecraft:story/enchant_item"><img src="https://tinyurl.com/wbsa8mkw">Enchanter</td>
            <td id="minecraft:nether/netherite_armor"><img src="https://tinyurl.com/cxfstr5s">Cover Me In Debris</td>
            <td></td>
            <td id="minecraft:adventure/throw_trident"><img src="https://tinyurl.com/atbrv3kc">A Throwaway Joke</td>
            <td id="minecraft:husbandry/tactical_fishing"><img src="https://tinyurl.com/uf678ca8">Tactical Fishing</td>
            <td id="minecraft:hoglin"><img src="https://tinyurl.com/4h5cduev">Hoglin</td>
            <td id="minecraft:deep_lukewarm_ocean"><img src="https://tinyurl.com/573wktja">Deep Lukewarm Ocean</td>
            <td id="minecraft:mooshroom"><img src="https://tinyurl.com/2ar6mszf">Mooshroom</td>
            <td id="cooked_rabbit"><img src="https://tinyurl.com/rrvzc7fs">Cooked Rabbit</td>
         </tr>
         <tr>
            <td id="minecraft:story/cure_zombie_villager"><img src="https://tinyurl.com/4bpf9kwp">Zombie Doctor</td>
            <td id="minecraft:nether/get_wither_skull"><img src="https://tinyurl.com/366ubzmv">Spooky Scary Skeleton</td>
            <td></td>
            <td id="minecraft:adventure/shoot_arrow"><img src="https://tinyurl.com/4vf9sd5s">Take Aim</td>
            <td id="minecraft:husbandry/balanced_diet"><img src="https://tinyurl.com/ce55y58d">A Balanced Diet</td>
            <td id="minecraft:husk"><img src="https://tinyurl.com/s8522e8">Husk</td>
            <td id="minecraft:desert"><img src="https://tinyurl.com/7nwdnxtx">Desert</td>
            <td id="minecraft:mule"><img src="https://tinyurl.com/4645j9r8">Mule</td>
            <td></td>
            <td id="cooked_salmon"><img src="https://tinyurl.com/9vv3fdu5">Cooked Salmon</td>
         </tr>
         <tr>
            <td id="minecraft:story/follow_ender_eye"><img src="https://tinyurl.com/2vju4dvk">Eye Spy</td>
            <td id="minecraft:nether/obtain_blaze_rod"><img src="https://tinyurl.com/3ejvxurb">Into Fire</td>
            <td></td>
            <td id="minecraft:adventure/kill_all_mobs"><img src="https://tinyurl.com/3cwm36p4">Monsters Hunted</td>
            <td id="minecraft:husbandry/obtain_netherite_hoe"><img src="https://tinyurl.com/uhzu86yy">Serious Dedication</td>
            <td id="minecraft:magma_cube"><img src="https://tinyurl.com/6j4sdf4u">Magma Cube</td>
            <td id="minecraft:desert_hills"><img src="https://tinyurl.com/4jde6s64">Desert Hills</td>
            <td id="minecraft:ocelot"><img src="https://tinyurl.com/yvehpw8k">Ocelot</td>
            <td></td>
            <td id="cookie"><img src="https://tinyurl.com/428aj8tk">Cookie</td>
         </tr>
         <tr>
            <td id="minecraft:story/enter_the_end"><img src="https://tinyurl.com/jf67nxcm">The End?</td>
            <td id="minecraft:nether/charge_respawn_anchor"><img src="https://tinyurl.com/4sscrmht">Not Quite Nine Lives</td>
            <td></td>
            <td id="minecraft:adventure/totem_of_undying"><img src="https://tinyurl.com/7brdsnzt">Postmortal</td>
            <td id="minecraft:husbandry/wax_off"><img src="https://tinyurl.com/vxpjkbzd">Wax Off</td>
            <td id="minecraft:phantom"><img src="https://tinyurl.com/phrc5dp6">Phantom</td>
            <td id="minecraft:forest"><img src="https://tinyurl.com/4sb6vn3c">Forest</td>
            <td id="minecraft:panda"><img src="https://tinyurl.com/wczbs2zf">Panda</td>
            <td></td>
            <td id="dried_kelp"><img src="https://tinyurl.com/u5hxbbww">Dried Kelp</td>
         </tr>
         <tr>
            <td></td>
            <td id="minecraft:nether/explore_nether"><img src="https://tinyurl.com/2sbn7znj">Hot Tourist Destinations</td>
            <td></td>
            <td id="minecraft:adventure/summon_iron_golem"><img src="https://tinyurl.com/2ru46vcy">Hired Help</td>
            <td id="minecraft:husbandry/axolotl_in_a_bucket">The Cutest Predator</td>
            <td id="minecraft:piglin"><img src="https://tinyurl.com/sbpp7396">Piglin</td>
            <td id="minecraft:frozen_river"><img src="https://tinyurl.com/ferw7k93">Frozen River</td>
            <td id="minecraft:pig"><img src="https://tinyurl.com/cnr9zzxc">Pig</td>
            <td></td>
            <td id="enchanted_golden_apple"><img src="https://tinyurl.com/485ftrn9">Enchanted Golden Apple</td>
         </tr>
         <tr>
            <td></td>
            <td id="minecraft:nether/summon_wither"><img src="https://tinyurl.com/uca36uuc">Withering Heights</td>
            <td></td>
            <td id="minecraft:adventure/two_birds_one_arrow"><img src="https://tinyurl.com/bbpnjfv7">Two Birds One Arrow</td>
            <td id="minecraft:husbandry/kill_axolotl_target"><img src="https://tinyurl.com/9k7je38w">The Healing Power of Friendship!</td>
            <td id="minecraft:piglin_brute"><img src="https://tinyurl.com/9kh2h9uw">Piglin Brute</td>
            <td id="minecraft:giant_tree_taiga"><img src="https://tinyurl.com/zsxwy9kd">Giant Taiga</td>
            <td id="minecraft:rabbit"><img src="https://tinyurl.com/ytra58eu">Rabbit</td>
            <td></td>
            <td id="glow_berries"><img src="https://tinyurl.com/9bs3mn88">Glow Berries</td>
         </tr>
         <tr>
            <td></td>
            <td id="minecraft:nether/brew_potion"><img src="https://tinyurl.com/5d872m2m">Local Brewery</td>
            <td></td>
            <td id="minecraft:adventure/whos_the_pillager_now"><img src="https://tinyurl.com/374rwwjj">Who's the Pillager Now</td>
            <td></td>
            <td id="minecraft:pillager"><img src="https://tinyurl.com/39h25v25">Pillager</td>
            <td id="minecraft:giant_tree_taiga_hills"><img src="https://tinyurl.com/2j7d7kuj">Giant Taiga Hills</td>
            <td id="minecraft:strider"><img src="https://tinyurl.com/fausuu4k">Strider</td>
            <td></td>
            <td id="golden_apple"><img src="https://tinyurl.com/2kwjsd4s">Golden Apple</td>
         </tr>
         <tr>
            <td></td>
            <td id="minecraft:nether/create_beacon"><img src="https://tinyurl.com/32wrwszu">Bring Home the Beacon</td>
            <td></td>
            <td id="minecraft:adventure/arbalistic"><img src="https://tinyurl.com/zm93d9k8">Arbalistic</td>
            <td></td>
            <td id="minecraft:ravager"><img src="https://tinyurl.com/4e5fzbfb">Ravager</td>
            <td id="minecraft:jungle"><img src="https://tinyurl.com/9essx6r2">Jungle</td>
            <td id="minecraft:sheep"><img src="https://tinyurl.com/xxeta2pv">Sheep</td>
            <td></td>
            <td id="golden_carrot"><img src="https://tinyurl.com/3njsb3dh">Golden Carrot</td>
         </tr>
         <tr>
            <td></td>
            <td id="minecraft:nether/all_potions"><img src="https://tinyurl.com/54sw6va3">A Furious Cocktail</td>
            <td></td>
            <td id="minecraft:adventure/adventuring_time"><img src="https://tinyurl.com/erdrh4em">Adventuring Time</td>
            <td></td>
            <td id="minecraft:shulker"><img src="https://tinyurl.com/an3xpp8">Shulker</td>
            <td id="minecraft:jungle_edge"><img src="https://tinyurl.com/rvfec43r">Jungle Edge</td>
            <td id="minecraft:turtle"><img src="https://tinyurl.com/4kev69pm">Turtle</td>
            <td></td>
            <td id="honey_bottle"><img src="https://tinyurl.com/ruvdapts">Honey Bottle</td>
         </tr>
         <tr>
            <td></td>
            <td id="minecraft:nether/create_full_beacon"><img src="https://tinyurl.com/32wrwszu">Beaconator</td>
            <td></td>
            <td id="minecraft:adventure/spyglass_at_dragon"><img src="https://tinyurl.com/3522nn8d">Is It a Plane</td>
            <td></td>
            <td id="minecraft:skeleton"><img src="https://tinyurl.com/497prwdm">Skeleton</td>
            <td id="minecraft:jungle_hills"><img src="https://tinyurl.com/j8mcb8yv">Jungle Hills</td>
            <td id="minecraft:wolf"><img src="https://tinyurl.com/45byfzav">Wolf</td>
            <td></td>
            <td id="melon_slice"><img src="https://tinyurl.com/hxd67hz6">Melon Slice</td>
         </tr>
         <tr>
            <td></td>
            <td id="minecraft:nether/all_effects"><img src="https://tinyurl.com/usy4rsd5">How Did We Get Here?</td>
            <td></td>
            <td id="minecraft:adventure/very_very_frightening"><img src="https://tinyurl.com/3jhwk67z">Very Very Frightening</td>
            <td></td>
            <td id="minecraft:silverfish"><img src="https://tinyurl.com/kpkabfyk">Silverfish</td>
            <td id="minecraft:lukewarm_ocean"><img src="https://tinyurl.com/469a5pt2">Lukewarm Ocean</td>
            <td></td>
            <td></td>
            <td id="mushroom_stew"><img src="https://tinyurl.com/93w43vnv">Mushroom Stew</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:adventure/sniper_duel"><img src="https://tinyurl.com/2hw5e935">Sniper Duel</td>
            <td></td>
            <td id="minecraft:slime"><img src="https://tinyurl.com/nxbfcxfy">Slime</td>
            <td id="minecraft:mountains"><img src="https://tinyurl.com/7y78un97">Mountains</td>
            <td></td>
            <td></td>
            <td id="poisonous_potato"><img src="https://tinyurl.com/vx4neskn">Poisonous Potato</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:adventure/bullseye"><img src="https://tinyurl.com/h99jd286">Bullseye</td>
            <td></td>
            <td id="minecraft:spider"><img src="https://tinyurl.com/h6ttkvfd">Spider</td>
            <td id="minecraft:mushroom_field_shore"><img src="https://tinyurl.com/2rz5p3fk">Mushroom Field Shore</td>
            <td></td>
            <td></td>
            <td id="potato"><img src="https://tinyurl.com/5tychuvd">Potato</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:stray"><img src="https://tinyurl.com/58nm5uex">Stray</td>
            <td id="minecraft:mushroom_fields"><img src="https://tinyurl.com/vrk5yx43">Mushroom Fields</td>
            <td></td>
            <td></td>
            <td id="pufferfish"><img src="https://tinyurl.com/wb32vj54">Pufferfish</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:vex"><img src="https://tinyurl.com/7ykmw2v4">Vex</td>
            <td id="minecraft:plains"><img src="https://tinyurl.com/pv62s226">Plains</td>
            <td></td>
            <td></td>
            <td id="pumpkin_pie"><img src="https://tinyurl.com/cku5f6u4">Pumpkin Pie</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:vindicator"><img src="https://tinyurl.com/mpwpfhdh">Vindicator</td>
            <td id="minecraft:river"><img src="https://tinyurl.com/hrnh4dzp">River</td>
            <td></td>
            <td></td>
            <td id="rabbit_stew"><img src="https://tinyurl.com/4yt7a47n">Rabbit Stew</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:witch"><img src="https://tinyurl.com/r4mnycyk">Witch</td>
            <td id="minecraft:savanna"><img src="https://tinyurl.com/6xkwtjux">Savanna</td>
            <td></td>
            <td></td>
            <td id="beef"><img src="https://tinyurl.com/38s2fjzm">Raw Beef</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:wither"><img src="https://tinyurl.com/vcxcwewb">Wither</td>
            <td id="minecraft:savanna_plateau"><img src="https://tinyurl.com/5ftxzpfm">Savanna Plateau</td>
            <td></td>
            <td></td>
            <td id="chicken"><img src="https://tinyurl.com/5fay4x8v">Raw Chicken</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:wither_skeleton"><img src="https://tinyurl.com/56je8tax">Wither Skeleton</td>
            <td id="minecraft:snowy_beach"><img src="https://tinyurl.com/ufjyaw9r">Snowy Beach</td>
            <td></td>
            <td></td>
            <td id="cod"><img src="https://tinyurl.com/23uc38he">Raw Cod</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:zoglin"><img src="https://tinyurl.com/4zspmz3n">Zoglin</td>
            <td id="minecraft:snowy_mountains"><img src="https://tinyurl.com/3usbmnwz">Snowy Mountains</td>
            <td></td>
            <td></td>
            <td id="mutton"><img src="https://tinyurl.com/mkj8en4a">Raw Mutton</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:zombie"><img src="https://tinyurl.com/yhhecs67">Zombie</td>
            <td id="minecraft:snowy_taiga"><img src="https://tinyurl.com/3nxmpudx">Snowy Taiga</td>
            <td></td>
            <td></td>
            <td id="porkchop"><img src="https://tinyurl.com/esete22r">Raw Porkchop</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:zombie_villager"><img src="https://tinyurl.com/pu6u4auh">Zombie Villager</td>
            <td id="minecraft:snowy_taiga_hills"><img src="https://tinyurl.com/6p4jhvfz">Snowy Taiga Hills</td>
            <td></td>
            <td></td>
            <td id="rabbit"><img src="https://tinyurl.com/38pwaj6m">Raw Rabbit</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:zombified_piglin"><img src="https://tinyurl.com/3zn3syr4">Zombie Piglin</td>
            <td id="minecraft:snowy_tundra"><img src="https://tinyurl.com/3ckxcfwx">Snowy Tundra</td>
            <td></td>
            <td></td>
            <td id="salmon"><img src="https://tinyurl.com/p2ahfpfr">Raw Salmon</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:stone_shore"><img src="https://tinyurl.com/2r56xz4w">Stone Shore</td>
            <td></td>
            <td></td>
            <td id="rotten_flesh"><img src="https://tinyurl.com/8sb2ada5">Rotten Flesh</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:swamp"><img src="https://tinyurl.com/ncyy2x9j">Swamp</td>
            <td></td>
            <td></td>
            <td id="spider_eye"><img src="https://tinyurl.com/3wkb9e5j">Spider Eye</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:taiga"><img src="https://tinyurl.com/fybt46j2">Taiga</td>
            <td></td>
            <td></td>
            <td id="cooked_beef"><img src="https://tinyurl.com/yvjp3mf2">Steak</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:taiga_hills"><img src="https://tinyurl.com/jedndmcz">Taiga Hills</td>
            <td></td>
            <td></td>
            <td id="suspicious_stew"><img src="https://tinyurl.com/55m37rez">Suspicious Stew</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:warm_ocean"><img src="https://tinyurl.com/565vh63w">Warm Ocean</td>
            <td></td>
            <td></td>
            <td id="sweet_berries"><img src="https://tinyurl.com/mcar5uz4">Sweet Berries</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:wooded_badlands_plateau"><img src="https://tinyurl.com/3wjne6fu">Wooded Badlands Plateau</td>
            <td></td>
            <td></td>
            <td id="tropical_fish"><img src="https://tinyurl.com/2jrkbmfy">Tropical Fish</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:wooded_hills"><img src="https://tinyurl.com/hrdpkcz7">Wooded Hills</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="minecraft:wooded_mountains"><img src="https://tinyurl.com/2wx28mrt">Wooded Mountains</td>
         </tr>
      </table>
      </table>
   </body>
</html>